.input-space__wrap {
    flex-basis: 32%;

    height: 100vh;
    padding: 40px 0;
}
.input-space {
    display: flex;
    flex-direction: column;

    height: 100%;
    border-radius: 4px;
    padding: 24px;

    background: white;
}
.app-name {
    margin-bottom: 32px;
}
.input-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    margin-top: 32px;
}
.form-core{
    height: 560px;
    margin-bottom: 32px;
    overflow-y: auto;
}
.form-item{
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 16px;
}
.form-row{
    display: flex;
    justify-content: space-between;
    gap: 32px;

    width: 100%;
}
.form-row .form-item{
    width: 100%;
}
.checkbox-item{
    display: flex;
    gap: 8px;

    margin-bottom: 8px;
}
.form-submit-btn {
    padding: 16px;
    border-radius: 8px;

    color: white;
    background: var(--primary-primary-500, #015af5);

    font-size: 1.25em;
}
