* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
    background: transparent;
}
input,
select {
    padding: 8px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    outline-color: #d8d8d8;

    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
input[type='checkbox'] {
    width: 18px;
    height: 18px;
}
body {
    background: var(
        --gradient-blue-purple,
        linear-gradient(225deg, #e9e4f4 23.54%, #d9eaf8 63.86%, #ebf3fa 95.83%, #fafbfd 100%)
    );
    color: #3d3d3e;

    font-size: 16px;
}
.App {
    display: flex;

    max-width: 1920px;
    width: 100%;
    padding: 0 72px;
    margin: 0 auto;
}

